.container {
  width: 90%;
  margin: 0 auto;
}

.banner {
  display: flex;
  width: 100%;
  height: 354px;
  overflow: hidden;
}

.search-input {
  margin-right: 23px;
}

.banner-caption {
  color: #fff;
  width: 50%;
  background: radial-gradient(#c97070, rgb(128, 6, 6));
  font-size: 45px;
}

h1 {
  padding: 15px 0 0 60px;
}

.banner-image {
  width: 50%;
}

img {
  object-fit: fill;
  width: 100%;
}

button {
  padding: 5px;
  background-color: #fff;
  color: #000;
}

section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 20px;
  margin-left: 10px;
}

.options-container {
  input {
    border-radius: 20px;
    padding: 5px;
  }
}
