// This file is included globally using vite.config.js

@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin expand-to-window-size {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
